@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400;1,900&display=swap'); 

* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(forest.jpg);
    height: 100vh;
    background-size: 100% 100%;
    background-image: url('https://media4.giphy.com/media/26xBFdqD73Pv6tbwY/giphy.gif?cid=ecf05e47bemtoohswu88gd5r3kwzfsblf5qr6xuiuvheh82l&rid=giphy.gif&ct=g') 
}

.container .navbar {
    width: 100%;
    height: 80px;
    background: transparent;

}

.logo {
    display: inline-block;
    margin-left: 20px;
    margin-top: 60px; text-align: center;
    

}

.logo a {
    text-decoration: none;
    font-size: 35px; 
    font-family: sans-serif;
    color: rgb(0 255 0);
    
    
   
   
}
 .logo p{
    color: rgb(0 255 0);
    margin-top: 25px;text-align: center;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
 }
 
 
.logo img{
    border-radius: 100%;
    margin-bottom: 13px;
    border: 3px solid black ;
}

.navbar ul {
    float: right;
    margin-right: 110px;
    margin-top: 37PX;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: rgb(0 255 0);
    text-decoration: none;
    font-size: 20px; 
    padding: 6px 13px;
    font-family: ROBOTO;
}

.navbar ul li a:hover {
    background: rgb(138, 154, 91);
}
.logo a:hover {
    background-color: rgb(138 154 91);
}
.logo p:hover{
    background-color: rgb( 138 154 91);
}